---
  layout: false
---
!!!5
%head
  %link{:rel => 'stylesheet', :href => '/assets/stylesheets/application.css'}
%body
  .app-container
  -#%script{:type => 'text/javascript', :src => '/assets/javascripts/resize-sensor.js'}
  %script{:type => 'text/javascript', :src => '/assets/javascripts/jquery.js'}
  %script{:type => 'text/javascript', :src => '/assets/javascripts/semantic-ui.js'}
  %script{:type => 'text/javascript', :src => '/assets/javascripts/application.js'}
